:root {
  --bg-color: #a6fcf7;
  --main-text-color: #000000;
  --inverse-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* ::after,
* ::before {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  /* background-color: var(--bg-color); */
  color: var(--main-text-color);
  font-family: FuturaNew;
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 1.16;
  overflow: auto;
}

.container-picture {
  width: 100%;

  background-color: #a6fcf7;
}

.container {
  padding-left: 20px;
  width: 100%;
}

.logo-image {
  margin-bottom: 6px;
}

.hero-title,
.secondary-title {
  font-family: 'FUTURAFUTURISC';
  font-weight: 700;
  font-size: 7.5vw;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.secondary-title {
  color: var(--bg-color);
  text-shadow: -0 -1px 0 #000000, 0 -1px 0 #000000, -0 1px 0 #000000,
    0 1px 0 #000000, -1px -0 0 #000000, 1px -0 0 #000000, -1px 0 0 #000000,
    1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.org-info-item:not(:last-child) {
  margin-bottom: 27px;
}

.org-container {
  padding-right: 33.5vw;
  margin-bottom: 60px;
}

.org-info-subtitle {
  font-family: 'FuturaFuturisC';
  font-weight: 700;
  font-size: 6.25vw;
  line-height: 1.15;
}

.org-info-list {
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 1.17;
}

.ua::after {
  content: '';
  background-image: url('../images/ukraine-apple.png');
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 3.75vw;
  height: 2.5vw;
  margin-left: 3px;
}

.footer-container {
  margin-top: 20vw; /*commit 001*/
  padding-bottom: 25px; /*commit 001*/
}

.footer-title {
  font-weight: 700;
  font-size: 4.68vw;
  line-height: 1.26;
  margin-bottom: 10px;
  letter-spacing: 0.02em;
  color: var(--inverse-color);
}

.address {
  color: var(--inverse-color);
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 1.16;
}

.email {
  color: var(--inverse-color);
  text-decoration: none;
}

.address-item:not(:last-child) {
  margin-bottom: 5px;
}

.address-item {
  display: flex;
  align-items: center;
}

.address-icon {
  fill: #000000;
}

.social-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 5px;
}

.email-wrapper {
  display: flex;
}

.fb-inst {
  display: flex;
}

.social-item.fb-inst {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 94px;
    padding-right: 0;
  }

  .header-container {
    padding-top: 43px;
  }

  .logo-image {
    width: 271px;
    height: 93px;
    margin-bottom: 30px;
  }

  .hero-container {
    padding-bottom: 34px;
  }

  .hero-title,
  .secondary-title {
    font-weight: 700;
    font-size: 5.02vw;
    line-height: 1.18;
  }

  .girl-imade-container {
    display: none;
  }

  .org-info-list {
    font-weight: 400;
    font-size: 2.08vw;
    line-height: 1.19;
  }

  .org-info-item:not(:last-child) {
    margin-bottom: 44px;
  }

  .org-info-item.we-are {
    width: 39vw;
  }

  .org-info-subtitle {
    font-weight: 700;
    font-size: 3.9vw;
    line-height: 1.16;
  }

  .ua::after {
    width: 1.56vw;
    height: 1.04vw;
  }

  .we-do {
    column-count: 2;
  }

  .footer-title {
    font-weight: 700;
    font-size: 1.56vw;
    line-height: 1.25;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .address {
    font-weight: 450;
    font-size: 1.56vw;
    line-height: 1.25;
    margin-bottom: 0;
  }

  .address-item {
    margin-right: 15px;
  }

  .address-item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .address-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: auto;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .header-container {
    padding-left: 55px;
    width: auto;
  }

  .logo-image {
    margin-bottom: 0;
  }

  .hero-section {
    padding-left: 34.4vw;
  }

  .hero-title,
  .secondary-title {
    font-weight: 700;
    font-size: 5.07vw;
    line-height: 1.17;
  }

  .org-container {
    padding-left: 34.4vw;
    margin-bottom: 0;
  }

  .org-info-item {
    padding-left: 0;
  }

  .org-info-item.we-are {
    width: auto;
  }

  .org-info-item.we-are,
  .org-info-item.we-believe {
    width: 24.6vw;
  }

  .we-are {
    width: auto;
  }

  .ua::after {
    width: 0.93vw;
    height: 0.63vw;
  }

  .num-1 {
    width: auto;
  }

  .we-do {
    width: auto;
    column-count: auto;
  }

  .we-do::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 240px;
    border: 1px solid black;
    left: 12px;
    transform: translate(0, -10%);
  }

  .org-info-list {
    column-count: 2;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.18;
  }

  .org-info-item {
    padding-left: 0;
    position: relative;
    margin-bottom: 0;
  }

  .we-do-item {
    padding-left: 55px;
  }

  .org-info-item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-container {
    padding-left: 34.4vw;
    padding-bottom: 25px;
  }

  .address {
    font-weight: 450;
    font-size: 1.25vw;
    line-height: 1.25;
  }
}

@media (min-width: 1280px) {
  .top-wrapper {
    position: relative;

    width: 100%;
    height: 28.3vw;
    min-height: 265px;

    background-image: url('../images/d-brush@1x.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 18%;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .top-wrapper {
      background-image: url('../images/d-brush@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .top-wrapper {
      background-image: url('../images/d-brush@3x.png');
    }
  }
  .bottom-wrapper {
    width: 100%;
    min-height: 612px;
    background-image: url('../images/d-bottom@1x.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .bottom-wrapper {
      background-image: url('../images/d-bottom@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .bottom-wrapper {
      background-image: url('../images/d-bottom@3x.png');
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .org-info-item.we-believe {
    max-width: 63.8vw;
  }

  .top-wrapper {
    position: relative;
    width: 100%;
    height: 38vw; /*commit 001*/
    min-height: 265px;
    background-image: url('../images/d-brush@1x.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 30%;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .top-wrapper {
      background-image: url('../images/d-brush@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .top-wrapper {
      background-image: url('../images/d-brush@3x.png');
    }
  }

  .bottom-wrapper {
    display: flex; /*commit 001*/
    flex-direction: column; /*commit 001*/
    justify-content: flex-end; /*commit 001*/

    width: 100%;
    min-height: 735px;
    background-image: url('../images/t-bottom@1x.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .bottom-wrapper {
      background-image: url('../images/t-bottom@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .bottom-wrapper {
      background-image: url('../images/t-bottom@3x.png');
    }
  }
}

@media (max-width: 767px) {
  .top-wrapper {
    position: relative;
    width: 100%;
    height: 117.4vw;

    min-height: 360px;
  }

  .bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 560px;

    background-image: url('../images/m-bottom@1x.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .bottom-wrapper {
      background-image: url('../images/m-bottom@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .bottom-wrapper {
      background-image: url('../images/m-bottom@3x.png');
    }
  }
}

@media (min-width: 1280px) {
  .hero-title::before {
    content: '';
    position: absolute;

    left: 8px;
    top: 10vw;

    width: 36.3vw;
    height: 38.7vw;
    min-width: 465px;
    min-height: 495px;

    background-image: url('../images/d-girl@1x.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-title::before {
      background-image: url('../images/d-girl@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero-title::before {
      background-image: url('../images/d-girl@3x.png');
    }
  }

  .underline {
    margin-left: 380px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .hero-title::after {
    position: absolute;

    content: '';

    right: 0; /*commit 001*/
    top: 18.5vw;

    width: 52vw;
    height: 49.5vw;
    min-width: 400px;
    min-height: 380px;

    background-image: url('../images/t-girl@1x.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-title::after {
      background-image: url('../images/t-girl@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero-title::after {
      background-image: url('../images/t-girl@3x.png');
    }
  }
}

@media (max-width: 767px) {
  .top-wrapper::before {
    content: '';

    position: absolute;
    left: 0;
    top: 18.4vw;

    width: 100vw;
    height: 99vw;
    min-width: 320px;
    min-height: 318px;

    background-image: url('../images/m-top@1x.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .top-wrapper::before {
      background-image: url('../images/m-top@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .top-wrapper::before {
      background-image: url('../images/m-top@3x.png');
    }
  }
}
